/*overrides*/
html, body {
  height: 100%;
  margin: 0;
}

:root{
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a3d;
  --border-radius: 8px;
  --speed: 500ms;
  
}

a{  
  color: var(--text-color);
  text-decoration: none;
}

/*Rest*/
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background: silver;
  width: auto;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flexbox1{
  display: flex;
  width: auto;
  height: inherit;

}

.flexbox2{
  display: flex;
  /* flex: 4; */
  flex-direction: column;
  width: 80vw;
  height: auto;
  overflow: hidden;

}

.flexbox3{
  display: flex;
  
  flex-direction: row;
  width: auto;
  height: auto;

}

.flexdata{
  display: flex;
  flex-direction: row;
  width: inherit;
  height: auto;
  justify-content: center;
}

.background{
  /* border-style: line  ; */
  border: none;
  background: var(--bg);
  /* width: 300px; */
  flex: 1;
  height: calc(100vh - var(--nav-size));
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  opacity: 0.6;

  /* display: inline-block; */
  /* flex-direction: column; */
  /* justify-content: flex-start;  */
  /* align-items: stretch; */
}

.UserOps{
  background: var(--bg-accent);
  font-size: 32px;
  border: none;
  color:white;
  text-decoration: none;
  border-radius: var(--border-radius);
  width: 90%;
  background-color: var(--bg-accent);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;

  
  /* float: left; */
  /* flex-grow: 4; */
  /* flex: 2; */

}

.UserOps:hover{
  filter: brightness(1.2);
}


.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  /* padding: 0 1rem; */
  border-bottom: var(--border);
  background-color: var(--bg);
  /* display: flex; */
  
}

.navbar-nav{
  max-width: 100%;
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;

}

.koolaMoola{
  /* justify-self: center; */
  /* align-items: center; */
  /* justify-content: top; */
  /* align-content: top; */
  display: flex;
  margin-right: auto;
  padding-left: 0px;
  margin-left: 0px;
  background-color: var(--bg-accent);
}
.koolaButton{
  align-self: center;
  border: none;
  font-size: 40px;
  background-color: var(--bg-accent);
  color:white;
  font-weight: bold;
}
.title{
  align-self: center;
  color:white;
  font-size: 40px;
  /* align-self: top; */
}

.nav-item{
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--bg-accent); */
}

.icon-button{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 
}
.icon-r{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  
 
}

.icon-button:hover{
  filter: brightness(1.2); 
}

.icon-button svg{
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown{
  position: absolute;
  top: 70px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  opacity: 0.96;
  transition: height var(--speed) ease;
}

.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  
}

.menu-item:hover{
  background-color: #525357;
}



.menu{
  width: 100%;
}

.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;

}
.menu-primary-exit{
  position: absolute;

}
.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
} 

.menu-secondary-enter{
  position: absolute;
  transform: translateX(110%);
}
.menu-secondary-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;

}
.menu-secondary-exit{
  position: absolute;

}
.menu-secondary-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.welcometxt{
  background-color: white;
  padding: 40px;
  margin: 15px
}

.pichart{
  border: solid var(--bg-accent);
  width: 500px;
  height: 300px;
  flex:1;
  margin: 15px
}

.barchart{
  border: solid var(--bg-accent);
  width: 500px;
  height: 300px;
  flex:2;
  margin: 15px
}

