/*overrides*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


:root{
  --bg:#04fc4c;
  --bg-accent: white;
  --text-color:#474a3d;
  --nav-size: 60px;
  --border: 1px solid #474a3d;
  --border-radius: 8px;
  --speed: 500ms;
  --font: 'Roboto', sans-serif;
  font-family: var(--font);
  padding: 0;
  margin: 0;
  font-size: 16px;
}

main{
  margin: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar{
  width: 0.5rem;

}
body::-webkit-scrollbar-track{
  background: var(--text-color);
}
body::-webkit-scrollbar-thumb{
  background: var(--bg);
}


a{  
  color: var(--text-color);
  text-decoration: none;
}

/*Rest*/
.App {
  font-family: var(--font);
  text-align: center;
  background:#d6e4e9;
  width: 100vw;
  height: 100vh;
  margin-right:0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbarleft{
  position: fixed;
  width:5rem;
  height: 100vh;
  background-color: var(--text-color);
  z-index: 1000;
  transition: width 200ms ease;
}

.navbarleft:hover{
  width: 12rem;
  
}
.navbarleft:hover .link-text{
  display: block;
}


.navbarleftnav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}
.navbarleftItem{
  margin-top: calc(var(--nav-size)*0.1);
  width: 100%;
  margin-left: 2rem;
  
  
}
.nav-link{
  display: flex;
  align-items: center;
  border: none;
  color: var(--bg-accent);
  text-decoration: none;
}
.nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text{
  display: none;
  margin-left: 1rem;
}

/* .navbarleftitem */

.navbarleftItem:last-child{
  margin-top: auto;
  color: white;
}

.flexbox0{
  display: flex;
  flex-direction: row;
  
  

}

.flexbox1{
  
  display: flex;
  width: 100vw;
  height: inherit;
  flex-direction: column;
  

}

.flexbox2{
  display: flex;
  /* flex: 4; */
  margin-left: 5rem;
  margin-top: var(--nav-size);
  flex-direction: column;
  width: inherit;
  height: auto;
  overflow: hidden;

}

.flexbox3{
  display: flex;
  
  flex-direction: row;
  width: auto;
  height: auto;

}

.flexdata{
  display: flex;
  flex-direction: row;
  width: inherit;
  height: auto;
  justify-content: center;
}

.background{
  /* border-style: line  ; */
  border: none;
  background: var(--bg);
  /* width: 300px; */
  flex: 1;
  height: calc(100vh - var(--nav-size));
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  opacity: 0.9;
  
}

.UserOps{
  background: var(--bg-accent);
  font-size: 32px;
  color:var(--text-color);
  text-decoration: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  width: 90%;
  background-color: var(--bg-accent);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: var(--font);
  /* border-left: 2rem; */
  border:none;
  border-left: 0.5rem solid var(--text-color);
  /* border-left-color: var(--text-color); */
}

.UserOps:hover{
  filter: brightness(1.2);
}


.navbar{
  position: fixed;
  width: inherit;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0;
  /* border-bottom: var(--border); */
  background-color: var(--bg);
  /* display: flex; */
  
}

.navbar-nav{
  /* max-width: 100%; */
  
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;

}



.koolaMoola{
  /* justify-self: center; */
  /* align-items: center; */
  /* justify-content: top; */
  /* align-content: top; */
  display: flex;
  margin-right: auto;
  padding-left: 0px;
  margin-left: 0px;
  background-color: var(--bg-accent);
  margin-left: 5rem;
}
.koolaButton{
  
  align-self: center;
  border: none;
  font-size: 40px;
  font-family: var(--font);
  background-color: var(--bg-accent);
  color:var(--text-color);
  font-weight: bold;
}
.title{
  align-self: center;
  color:white;
  font-size: 40px;
  /* align-self: top; */
}

.nav-item{
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--bg-accent); */
}

.icon-button{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 
}
.icon-r{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  
 
}

.icon-button:hover{
  filter: brightness(1.2); 
}

.icon-button svg{
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown{
  position: absolute;
  top: var(--nav-size);
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-color: var(--bg-accent);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  opacity: 0.96;
  transition: height var(--speed) ease;
}

.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border-color: var(--bg-accent);
  transition: background var(--speed);
  padding: 0.5rem;
  
}

.menu-item:hover{
  background-color:var(--bg-accent);
}



.menu{
  width: 100%;
}

.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;

}
.menu-primary-exit{
  position: absolute;

}
.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
} 

.menu-secondary-enter{
  position: absolute;
  transform: translateX(110%);
}
.menu-secondary-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;

}
.menu-secondary-exit{
  position: absolute;

}
.menu-secondary-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.welcometxt{
  background-color: white;
  padding: 40px;
  margin: 15px
}

.pichart{
  border: solid var(--bg-accent);
  width: 500px;
  height: 300px;
  flex:1;
  margin: 15px
}

.barchart{
  border: solid var(--bg-accent);
  width: 500px;
  height: 300px;
  flex:2;
  margin: 15px
}

