:root{
    --bg:#04fc4c;
    --bg-accent: white;
    --text-color:#474a3d;
    --nav-size: 60px;
    --border: 1px solid #474a3d;
    --border-radius: 8px;
    --speed: 500ms;
    --font: 'Roboto', sans-serif;
    
  }

.loginBackground{
    display: flex;
    /* align-self: center; */
    background-color: var(--bg);
    width: 30rem;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    border:none;
    flex: column;
    justify-content: center;
}

.loginTitle{
    color: white;
    margin: 1rem;
    text-decoration: underline;
}

.loginFields{
    color: var(--text-color);
    margin: 1rem;
}

.forgotPassword{
    font: 16px;
}